
.item {
  margin: 5px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
    width:15px;
    height:15px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
