.container {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.label {
  padding: 0.3em;
  margin-right: 0.5em;
  display: inline-block;
  text-align: right;
}

.input {
  margin: 0 0.5em;
  text-indent: 0.5em;
}

.error {
  color: red;
  padding: 0.3em;
}
